{% extends "layout.html" %}
{% block content %}

<div class="product-page">
    <img src="{{ image }}" class="product-page-img">

    <div class="product-info">
        <h2>{{ name }}</h2>
        <p class="price">${{ "%.2f"|format(price) }}</p>
        <p class="shipping">Shipping: ${{ "%.2f"|format(shipping) }}</p>
        <p class="desc">{{ description }}</p>

        <a href="{{ url_for('add_to_cart', id=id) }}" class="btn add-cart-btn">
            Add to Cart
        </a>
    </div>
</div>

{% endblock %}
